<!DOCTYPE html>
<html lang="en">

<head>
    <title>IITH | RP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts/icomoon/style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/magnific-popup.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/rangeslider.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/style.css') }}">
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        .button {
            background-color: #34609e;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
</head>

<body style="background-color: #333333;">

  <div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar container py-0 bg-white" role="banner">

        <!-- <div class="container"> -->
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="/" class="text-black mb-0">Recruitment<span class="text-primary">Portal</span>  </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="">{{email_}}</a></li>
                        <li class="ml-xl-3 login"><a href="/logout/"><span class="border-left pl-xl-4"></span>Logout</a></li>
                    </ul>
                </nav>
            </div>

            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
            </div>

        </div>
        <!-- </div> -->

    </header>

    <section style="position:fixed; top:20%; left:5%; width:20%; height:75%; padding:25px 20px 10px 0px; overflow-y:scroll; background-color: white">
      <div>
        <style>
            li a {
                display: block;
                color: #000;
                padding: 8px;
                padding-right: 10px;
                padding-left: 10px;
                text-decoration: none;
            }
            
            li a.active {
                background-color: #008080;
                color: white;
            }
        </style>
        <ul>
            <li style="display:block;font-size:20px;background-color:#30e3ca,color: #000;"><a href="part1">Personal Information</a></li>
            <li style="display:block;font-size:20px;color: #000;"><a href="part2">Educational Qualifications</a></li>
            <li style="display:block;font-size:20px;color: #000;"><a href="" class="active">Experience</a></li>
            <li style="display:block;font-size:20px;color: #000;"><a href="part4">Attachments</a></li>
            <li style="display:block;font-size:20px;color: #000;"><a href="part5">Submit Application</a></li>
            <li style="display:block;font-size:20px;color: #000;"><a href="/menu">Back to menu</a></li>
            <!-- <li style="display:block;font-size:20px;color: #000;"><a href="/">logout</a></li> -->
        </ul>
      </div>
    </section>
    <section style="position:fixed; top:20%; left:25%; width:70%; height:75%; margin:0 auto; border:1px solid black; padding:25px 20px 10px 20px; overflow-y:scroll; background-color: white">
      <style>
          input[type=text],
          input[type=date],
          input[type=number],
          input[type=number],
          input[type=textarea],
          input[type=submit],
          select {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
          }
           .required:after {
            color: #e32;
            content: ' *';
            display:inline;}
      </style>

      <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
          <form action="insert_3" method="POST">

              <h2 > Post Doc</h2>
              <div id='post_doc'>
                  <div id="input-postdoc-list">Post Doc Specialization
                    {% for item in params[0] %}
                    <input id="post_doc_spec[]" type='text' name='post_doc_spec[]' value="{{item}}" readonly><br>
                    {% endfor %}
                  </div>
               <!--  <input type='button' id='Add_postdoc' value='Add'>
                <input type='button' id='Remove_postdoc' value='Remove'> -->
              
              </div>
              <script>
              // var count1 = 1;
              // document.getElementById('Add_postdoc').onclick = function createInputField() {
              //     if(count1<3){
              //     count1=count1+1;
              //     var input = document.createElement('input');
              //     input.setAttribute('id', "post_doc_spec" + count1);
              //     input.type = 'text';
              //     input.name = 'post_doc_spec[]';
              //     input.placeholder='Post Doc Sepcialization'+count1;
                  
              //     var currentDiv = document.getElementById("input-postdoc-list");
              //     currentDiv.appendChild(input);
              //     currentDiv.appendChild(lineBreak);
              //   }  
              //   }

              //   document.getElementById('Remove_postdoc').onclick = function removeInputField() {

              //       // var x = document.getElementsByTagName('INPUT').length-input_tillnow;
              //       if (count1 >1) {
              //           var currentDiv = document.getElementById("input-postdoc-list");
              //           $('#input-postdoc-list input:last').remove();
              //           $('#input-postdoc-list br:last').remove();
              //           count1--;
              //           return false;
              //       } else {}
              //   }
            </script>

              <h2>Present Position</h2>

             <label for="current_position">Current Position</label>
              <input type="text" id="current_position" name="current_position" value="{{params[1][0]}}" readonly>

              <label for="pay_band">Pay Band</label>
              <input type="text" id="pay_band" name="pay_band" value="{{params[1][1]}}" readonly>

              <label for="grade_pay">Grade Pay</label>
              <input type="text" id="grade_pay" name="grade_pay" value="{{params[1][2]}}" readonly>

              <label for="consolidated_salary">Consolidated Salary</label>
              <input type="text" id="consolidated_salary" name="consolidated_salary" value="{{params[1][3]}}"readonly>

              <h2>Research/Teaching/Industrial Experience</h2>

              <div id='experience'>
                <div id="input-experience-list">
                  {% for i in range(0,params[2]|length) %}
                    <div>
                    <label for="experience_org">Organization</label>
                    <input id="experience_org" type="text" name="experience_org[]" value="{{params[2][i]}}" readonly>
                    <br>

                    <label for="start_date">Start Date</label>
                    <input id="start_date" type="date" name="start_date[] " value="{{params[3][i]}}" readonly>
                    <br>

                    <label for="end_date">End Date</label>
                    <input id="end_date" type="date" name="end_date[]" value="{{params[4][i]}}" readonly>
                    <br>

                    <label for="full_time">Full Time</label>
                    <select style="background-color:white" id="full_time[]" name="full_time[]" disabled="disabled">
                    <option selected required>{{params[5][i]}}</option>
                    <option value="YES" required>YES</option> 
                    <option value="NO" required>NO</option> 
                    </select>
                    <br>

                    <label for="desgn">Designation</label>
                    <input id="desgn" type="text" name="desgn[]" value="{{params[6][i]}}" readonly>
                    <br>

                    <label for="type_of_work">Type of Work</label>
                    <input id="type_of_work" type="text" name="type_of_work[]" value="{{params[7][i]}}" readonly>
                    <br>
                  </div>
                    {% endfor %}
                </div>                                                  

               <!--  <input type='button' id='Add' value='Add'>
                <input type='button' id='Remove' value='Remove'> -->
                  
              </div>
              <script>
                // var count = 1;
                // document.getElementById('Add').onclick = function createInputField() {
                //     count++;
                //      var str1 = '<label for="experience_org">Organization</label><input id="experience_org" type="text" name="experience_org[]" placeholder="Your Organization..'+count+'"><br><label for="start_date">Start Date</label><input id="start_date" type="date" name="start_date[]" ><br><label for="end_date">End Date</label><input id="end_date" type="date" name="end_date[]" ><br><label for="full_time">Full Time</label><select style="background-color:white" id="full_time[]" name="full_time[]"><option selected required>Select</option><option value="YES" required>YES</option> <option value="NO" required>NO</option></select><br><label for="desgn">Designation</label><input id="desgn" type="text" name="desgn[]" placeholder="Your Designation..'+count+'"><br><label for="type_of_work">Type of Work</label><input id="type_of_work" type="text" name="type_of_work[]" placeholder="Your Type of Work..'+count+'"><br>';
                    
                //     var new_div = document.createElement('div');
                //     new_div.innerHTML=str1;
                //     var currentDiv = document.getElementById("input-experience-list");
                //     currentDiv.appendChild(new_div);     
                // }

                // document.getElementById('Remove').onclick = function removeInputField() {

                //     // var x = document.getElementsByTagName('INPUT').length-input_tillnow;
                //     if (count >= 2) {
                //         var currentDiv = document.getElementById("input-experience-list");
                //         currentDiv.removeChild(currentDiv.lastChild);
                //         count--;
                //         return false;

                //     } else {}
                // }
              </script>

              <h2>Online Profiles</h2>
              <label for="google_scholar" >Google Scholar</label>
              <input id="google_scholar" type="text" name="google_scholar" value="{{params[12]}}" readonly>
              <br>

              <label for="dblp" >DBLP</label>
              <input id="dblp" type="text" name="dblp" value="{{params[13]}}" readonly>
              <br>

              <label for="linkedin">Linkedin</label>
              <input id="linkedin" type="text" name="linkedin" value="{{params[14]}}" readonly>
              <br>

              <h2>Projects</h2>
              <!-- <div id='projects'> -->
                <div id="input-sponsored_project-list">
                  {% for i in range(0,params[8]|length) %}
                    {% if params[8][i]=="sponsored" %}
                      <div>
                        <label for="">Sponsored Project Title</label>
                        <input id="sponsored_project_title" type="text" name="sponsored_project_title[]" value="{{params[9][i]}}" style="width:100%" readonly>
                        <br>
                        <label for="">Sponsored Project Amount</label>
                        <input id="sponsored_project_amount" type="text" name="sponsored_project_amount[]" value="{{params[10][i]}}" style="width:100%" readonly>
                        <br>
                        <label for="">Sponsored Project Details</label>
                        <input id="sponsored_project_details" type="text" name="sponsored_project_details[]" value="{{params[11][i]}}" style="width:100%" readonly>
                        <br>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <!-- <input type='button' id='Add1' value='Add'>
                <input type='button' id='Remove1' value='Remove'> -->
                <script>
                  // var count3 = 1;
                  // document.getElementById('Add1').onclick = function createInputField() {
                  //     count3++;
                  //    var str2 = '<label for="">Sponsored Project Title</label><input id="sponsored_project_title" type="text" name="sponsored_project_title[]" placeholder="Your sponsored project title..'+count3+'" style="width:100%"><br><label for="">Sponsored Project Amount</label><input id="sponsored_project_amount" type="text" name="sponsored_project_amount[]" placeholder="Your sponsored project amount..'+count3+'" style="width:100%"><br><label for="">Sponsored Project Details</label><input id="sponsored_project_details" type="text" name="sponsored_project_details[]" placeholder="Your sponsored project details..'+count3+'" style="width:100%"><br>';
                  //     var new_div = document.createElement('div');
                  //     new_div.innerHTML=str2;
                  //     var currentDiv = document.getElementById("input-sponsored_project-list");
                  //     currentDiv.appendChild(new_div);
                  //   }

                  //   document.getElementById('Remove1').onclick = function removeInputField() {

                  //       // var x = document.getElementsByTagName('INPUT').length-input_tillnow;
                  //       if (count3 >= 2) {
                  //           var currentDiv = document.getElementById("input-sponsored_project-list");
                  //           currentDiv.removeChild(currentDiv.lastChild);
                  //           count3--;
                  //           return false;
                  //       } else {}
                  //   }
                  </script>

              
                  <div id="input-consultancy_project-list">
                    <label for="consultancy_project"></label>
                    {% for i in range(0,params[8]|length) %}
                    {% if params[8][i]=="consultancy" %}
                      <div>
                          <label for="">Consultancy Project Title</label>
                          <input id="consultancy_project_title" type="text" name="consultancy_project_title[]" value="{{params[9][i]}}" style="width=100%" readonly>
                          <br>
                          <label for="">Consultancy Project Amount</label>
                          <input id="consultancy_project_amount" type="text" name="consultancy_project_amount[]" value="{{params[10][i]}}" style="width=100%" readonly>
                          <br>
                          <label for="">Consultancy Project Details</label>
                          <input id="consultancy_project_details" type="text" name="consultancy_project_details[]" value="{{params[11][i]}}" style="width=100%" readonly>
                          <br>
                      </div>
                    {% endif %}
                  {% endfor %}  
                  </div>
                  <!-- <input type='button' id='Add2' value='Add'>
                  <input type='button' id='Remove2' value='Remove'> -->
                  <script>
                      // var count2 = 1;
                      // document.getElementById('Add2').onclick = function createInputField() {
                      //     count2++;
                      //    var str3 = '<label for="">Consultancy Project Title</label><input id="consultancy_project_title" type="text" name="consultancy_project_title[]" placeholder="Your Consultancy Project title..'+count2+'" style="width=100%"><br><label for="">Consultancy Project Amount</label><input id="consultancy_project_amount" type="text" name="consultancy_project_amount[]" placeholder="Your Consultancy Project amount..'+count2+'" style="width=100%"><br><label for="">Consultancy Project Details</label><input id="consultancy_project_details" type="text" name="consultancy_project_details[]" placeholder="Your Consultancy Project details..'+count2+'" style="width=100%"><br>';
                          
                      //     var new_div = document.createElement('div');
                      //     new_div.innerHTML=str3;
                      //     var currentDiv = document.getElementById("input-consultancy_project-list");
                      //     currentDiv.appendChild(new_div);
     
                      // }

                      // document.getElementById('Remove2').onclick = function removeInputField() {

                      //     // var x = document.getElementsByTagName('INPUT').length-input_tillnow;
                      //     if (count2 >= 2) {
                      //         var currentDiv = document.getElementById("input-consultancy_project-list");
                      //         currentDiv.removeChild(currentDiv.lastChild);
                      //         count2--;
                      //         return false;

                      //     } else {}
                      // }
                  </script>
                

                <h2 style="padding-top:10px"> Referees</h2>
                  <div id="input-referee-list">
                   <!--  <div> -->
                        <label for="">Referee Email1</label>
                        <input id="referee1_email" type="text" name="referee1_email" value="{{params[15][0]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Name1</label>
                        <input id="referee1_name" type="text" name="referee1_name" value="{{params[15][1]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Designation1</label>
                        <input id="referee1_desg" type="text" name="referee1_desg" value="{{params[15][2]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Address1</label>
                        <input id="referee1_address" type="text" name="referee1_address" value="{{params[15][3]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Email2</label>
                        <input id="referee2_email" type="text" name="referee2_email" value="{{params[16][0]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Name2</label>
                        <input id="referee2_name" type="text" name="referee2_name" value="{{params[16][1]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Designation2</label>
                        <input id="referee2_desg" type="text" name="referee2_desg" value="{{params[16][2]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Address2</label>
                        <input id="referee2_address" type="text" name="referee2_address" value="{{params[16][3]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Email3</label>
                        <input id="referee3_email" type="text" name="referee3_email" value="{{params[17][0]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Name3</label>
                        <input id="referee3_name" type="text" name="referee3_name" value="{{params[17][1]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Designation3</label>
                        <input id="referee3_desg" type="text" name="referee3_desg" value="{{params[17][2]}}" style="width=100%" readonly>
                        <br>
                        <label for="">Referee Address3</label>
                        <input id="referee3_address" type="text" name="referee3_address" value="{{params[17][3]}}" style="width=100%" readonly>
                        <br>
                        <label>Remarks</label>
                        <input id="reamrks" type="text" name="remarks" value="{{params[18]}}" style="width=100%" readonly>
                        <br>

                    <!-- </div> -->
                  </div>
                  
                  <!-- <input type="submit" value="Save" style="background-color: #008080;color:white;width=100%"> -->
          </form>
        </div>
    </section>

  </div>

  <script src="{{ url_for('static',filename='styles/js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/aos.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/rangeslider.min.js') }}"></script>

  <script src="{{ url_for('static',filename='styles/js/main.js') }}"></script>

</body>

</html>