<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IITH | RP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts/icomoon/style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/magnific-popup.css') }}">
  
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/rangeslider.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/css/style.css') }}">

    
    <style type="text/css">
      table {
          border-collapse: collapse;    
          }

      td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }

      .button {
        background-color: #34609e;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

    </style>
  </head>
  </head>
  <body style="background-color: #333333;">
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar container py-0 bg-white" role="banner">

      <!-- <div class="container"> -->
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/" class="text-black mb-0">Recruitment<span class="text-primary">Portal</span>  </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="">{{email_}}</a></li>
                <li class="ml-xl-3 login"><a href="/logout/"><span class="border-left pl-xl-4"></span>Logout</a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      <!-- </div> -->      
    </header>

    <section style="position:fixed; top:20%; left:5%; width:20%; height:75%; padding:25px 20px 10px 0px; overflow-y:scroll; background-color: white">
      <div>
        <style>
          li a {
            display: block;
            color: #000;
            padding:8px;
            padding-right:10px;
            padding-left:10px; 
            text-decoration: none;
          }
          li a.active {
            background-color: #008080;
            color: white;
          }
          </style>
        <ul>
          <li style="display:block;font-size:20px;background-color:#30e3ca,color: #000;"><a href="part1" >Personal Information</a></li>
          <li style="display:block;font-size:20px;color: #000;"><a href="" class = "active">Educational Qualifications</a></li>   
          <li style="display:block;font-size:20px;color: #000;"><a href="part3">Experience</a></li>
          <li style="display:block;font-size:20px;color: #000;"><a href="part4">Attachments</a></li>
          <li style="display:block;font-size:20px;color: #000;"><a href="part5">Submit Application</a></li>
          <li style="display:block;font-size:20px;color: #000;"><a href="/menu">Back to menu</a></li>
          <!-- <li style="display:block;font-size:20px;color: #000;"><a href="/">logout</a></li> -->
        </ul>
      </div>
    </section>

    <section style="position:fixed; top:20%; left:25%; width:70%; height:75%; margin:0 auto; border:1px solid black; padding:25px 20px 10px 20px; overflow-y:scroll; background-color: white">
        <style>
          input[type=text], input[type=date],input[type=number],input[type=number],input[type=textarea],
          input[type=submit],select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            }
            .required:after {
              color: #e32;
              content: ' *';
              display:inline;}
        </style>
         
         <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
           <form action="insert_2" method="POST">
             <h2>Bachelor's</h2>
              <!--<label for="degree">Degree</label>
              <select style="background-color:white">
                <option selected required> Select</option>
                <option value="B.Tech" required>B.Tech</option>
                <option value="B.Sc" required>B.Sc</option>
              </select>
              <label for="start_year">Start Year</label>
              <select id="year" style="background-color:white"></select>
              
              <script type="text/javascript">
                var start = 1900;
                var end = new Date().getFullYear();
                var options = "";
                options += "<option>select</option>";
                for(var year = start ; year <=end; year++){
                  options += "<option>"+ year +"</option>";
                }
                document.getElementById("year").innerHTML = options;
              </script>
              -->

            <label for="end_year">Year of Graduation</label>
            <input type="date" id="bachelors_date_studied" name="bachelors_date_studied" value="{{params[0][0]}}" required><br>

            <!-- <select id="bachelors_date_studied" style="background-color:white" name="bachelors_date_studied"></select>
            <script type="text/javascript">
              var start1 = 2000;
              var end1 = 2025;
              var options1 = "";
              options1 += "<option>select</option>";
              for(var year = start1 ; year <=end1; year++){
                options1 += "<option>"+ year +"</option>";
              }
              document.getElementById("bachelors_date_studied").innerHTML = options1;
            </script> -->

            <label for="bachelors_university_name_">University Name</label>
            <input type="text" id="bachelors_university" name="bachelors_university" value="{{params[0][1]}}" required>

            <label for="bachelors_institute_name_" class="required">Institute Name</label>
            <input type="text" id="bachelors_institute" name="bachelors_institute" value="{{params[0][2]}}" placeholder="Your Institute Name.." required>

            <label for="bachelors_specialization_">Specialization</label>
            <input type="text" id="bachelors_specialization" name="bachelors_specialization"  value="{{params[0][3]}}" required>

            <label for="cgpa">CGPA</label>
            <input type="number" id="bachelors_cgpa" name="bachelors_cgpa" value="{{params[0][4]}}" required>

            <label for="scale" class="required">Scale</label>
            <input type="number" id="bachelors_scale" name="bachelors_scale" value="{{params[0][5]}}" required>

            <h2>Master's</h2>
            <!--
              <label for="degree">Degree</label>
              <select style="background-color:white">
                <option selected required> Select</option>
                <option value="M.Tech" required>M.Tech</option>
                <option value="M.Sc" required>M.Sc</option>
              </select> 

              <label for="masters_start_year">Start Year</label>
              <select id="year2" style="background-color:white"></select>
              <script>
                document.getElementById("year2").innerHTML = options;
              </script>
            -->

            <label for="masters_end_year">Year of Graduation</label>
            <input type="date" id="masters_date_studied" name="masters_date_studied" value="{{params[1][0]}}" required><br>


           <!--  <select id="masters_date_studied" style="background-color:white" name="masters_date_studied"></select>
            <script>
              document.getElementById("masters_date_studied").innerHTML = options1;
            </script> -->
             
            <label for="masters_university_name_">University Name</label>
            <input type="text" id="masters_university" name="masters_university" value="{{params[1][1]}}" required>

            <label for="masters_institute_name_" class="required">Institute Name</label>
            <input type="text" id="masters_institute" name="masters_institute" value="{{params[1][2]}}" placeholder="Your Institute Name.." required>

            <label for="masters_specialization_">Specialization</label>
            <input type="text" id="masters_specialization" name="masters_specialization" value="{{params[1][3]}}" required>

            <label for="masters_cgpa">CGPA</label>
            <input type="number" id="masters_cgpa" name="masters_cgpa" value="{{params[1][4]}}" required>

            <label for="scale" class="required">Scale</label>
            <input type="number" id="masters_scale" name="masters_scale" value="{{params[1][5]}}"  required>

            <h2>PhD</h2>

            <label for="phd_end_year">Year of Graduation</label>
            <input type="date" id="phd_date_studied" name="phd_date_studied" value="{{params[2][0]}}" required><br>
          
           <!--  <label for="phd_start_year">Start Year</label>
            <select id="phd_date_studied" name="phd_date_studied" style="background-color:white"></select>
            <script>
              document.getElementById("phd_date_studied").innerHTML = options;
            </script> -->

            <label for="phd_university_name_">University Name</label>
            <input type="text" id="phd_university" name="phd_university" value="{{params[2][1]}}"required>

             <label for="phd_institute_name_" class="required">Institute Name</label>
            <input type="text" id="phd_institute" name="phd_institute" value="{{params[2][2]}}" placeholder="Your Institute Name.." required>

            <label for="phd_specialization_">Specialization</label>
            <input type="text" id="phd_specialization" name="phd_specialization" value="{{params[2][3]}}" required>

            <input type="number" id="phd_cgpa" name="phd_cgpa" value="{{params[2][4]}}" required>

            <label for="scale" class="required">Scale</label>
            <input type="number" id="phd_scale" name="phd_scale"  value="{{params[2][5]}}"  required>



            <label for="phd_date_thesis">Date of Thesis Submission</label>
            <input type="date" id="phd_date_thesis" name="phd_date_thesis" value="{{params[3][0]}}" required><br>
            
            <label for="phd_date_defence">Date of defence</label>
            <input type="date" id="phd_date_defence" name="phd_date_defence" value="{{params[3][1]}}" required><br>



  
            <h2>GATE</h2>
            <label for="gate_year">GATE Year</label>
            <input type="text" id="gate_year" name="gate_year" value="{{params[4][0]}}" >

            <label for="gate_score">Gate Rank</label>
            <input type="number" id="gate_score" name="gate_score" value="{{params[4][1]}}" > 

            <h2>Research</h2>
            <label for="research_specialization">Research Specialization</label>
            <input type="text" id="research_specialization" name="research_specialization" value="{{params[5]}}" >   
          
            <div id='research_fields'>
              <!-- <form name='myForm' id='randomFields'>   -->
                <div id="input-researchfields-list">Research Interests 
                  {% for your_list_element in  params[6] %}
                      <input id="research_interest" type='text' name='research_interest[]' value="{{ your_list_element }}" ><br>
                      <!-- <p>{{ your_list_element }} </p> -->
                  {% endfor %}
                  <!-- <input id="research_interest" type='text' name='research_interest[]' value="{{params[6]}}" ><br> -->
                </div>
                <input type='button' id='Add' value='Add'>
                <input type='button' id='Remove' value='Remove'>
              <!-- </form> -->
            </div>
          
            <script>
              // var input_tillnow=document.getElementsByTagName('INPUT').length-1;
              // document.getElementById('Add').onclick = function createInputField() {
              //   var input = document.createElement('input');
              //   var lineBreak = document.createElement('br');
              //   var testId = "research_interest";
              //   var i = 0;
              //   var x = document.getElementsByTagName('INPUT').length-input_tillnow;
              //   for (i = 0; i < x; i++) {
              //     i;
              //   }
              //   input.setAttribute('id', testId + i);
              //   input.type = 'text';
              //   input.name = 'research_interest[]';
              //   input.placeholder='Research Interest'+i;
              //   var aplayer1 = document.getElementById('input-player-list');
              //   aplayer1.appendChild(input);
              //   aplayer1.appendChild(lineBreak);
              // }

              // document.getElementById('Remove').onclick = function removeInputField() {
              //   var x = document.getElementsByTagName('INPUT').length-input_tillnow;
              //   if ( x > 2 ) {
              //     $('#input-player-list input:last').remove();
              //     $('#input-player-list br:last').remove();
              //     return false;
              //   } else {
              //   }
              // }
              var count = 1;
              document.getElementById('Add').onclick = function createInputField() {
                  count=count+1;
                  var input = document.createElement('input');
                  input.setAttribute('id', "research_interest" + count);
                  input.type = 'text';
                  input.name = 'research_interest[]';
                  input.placeholder='Research Interest'+count;
                  
                  var currentDiv = document.getElementById("input-researchfields-list");
                  currentDiv.appendChild(input);
                  currentDiv.appendChild(lineBreak);
                  
                }

                document.getElementById('Remove').onclick = function removeInputField() {

                    // var x = document.getElementsByTagName('INPUT').length-input_tillnow;
                    if (count >= 2) {
                        var currentDiv = document.getElementById("input-researchfields-list");
                        $('#input-researchfields-list input:last').remove();
                        $('#input-researchfields-list br:last').remove();
                        count--;
                        return false;
                    } else {}
                }
            </script>
<!-- 
            <h2 style="padding-top:10px"> Post Doc</h2>
            <div id='post_doc'>
                <div id="input-postdoc-list">Post Doc Specialization
                  {% for your_list_element in  params[7] %}
                      <input id="post_doc_spec[]" type='text' name='post_doc_spec[]' value="{{ your_list_element }}" ><br>
                  {% endfor %}
                </div>
                <input type='button' id='Add1' value='Add'>
                <input type='button' id='Remove1' value='Remove'>
            </div>

            <script>
              var count1 = 1;
              document.getElementById('Add1').onclick = function createInputField() {
                  if(count1<3){
                  count1=count1+1;
                  var input = document.createElement('input');
                  input.setAttribute('id', "post_doc_spec" + count1);
                  input.type = 'text';
                  input.name = 'post_doc_spec[]';
                  input.placeholder='Post Doc Sepcialization'+count1;
                  
                  var currentDiv = document.getElementById("input-postdoc-list");
                  currentDiv.appendChild(input);
                  currentDiv.appendChild(lineBreak);
                }  
                }

                document.getElementById('Remove1').onclick = function removeInputField() {
                    if (count1 >= 2) {
                        var currentDiv = document.getElementById("input-postdoc-list");
                        $('#input-postdoc-list input:last').remove();
                        $('#input-postdoc-list br:last').remove();
                        count1--;
                        return false;
                    } else {}
                }
            </script> -->


            <input type="submit" value="Submit" style="background-color: #008080;color:white;width=100%">
             
          </form>
        </div>
    </section> 
  </div>

  <script src="{{ url_for('static',filename='styles/js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/aos.js') }}"></script>
  <script src="{{ url_for('static',filename='styles/js/rangeslider.min.js') }}"></script>

  <script src="{{ url_for('static',filename='styles/js/main.js') }}"></script>
    
  </body>
</html>